body{
    background-image: url('background.png');
	background-size:cover;
}

#page_num {
	text-align:center;
	padding:10px;
	list-style:none;
	margin-top:30px; 
}
#page_num ul {
	float: center;
}
#page_num li {
	display:inline-block;
	list-style:none;
	padding:10px 0 0 10px;
	margin-left: 10px; 
	text-align: center;
}
.fo_re {
	font-weight: bold;
	color:red;
}
thead {
	background-color : #585858;
	color : white;
}

h1 {
	text-align:center;
}


table {	
	list-style:none;
	width:1200px;
	height:400px;
	margin:auto;
	text-align:center;
}
