body{
    background-image: url('background.png');
background-size:cover;
}

h1{text-align:center;}

/* 메인 페이지 제외 모든 페이지 공통 상단 메뉴 css 코드*/
#main_menu { background-image : url('캡처.png');
	padding:10px;
	list-style:none;
	}
#main_menu ul {float:right }
#main_menu li {
	display:inline-block;
	list-style:none;
	color:white;
	padding:10px 0 0 10px;
	font: bold 24px san-serif;
	}
#main_menu li:hover{color:#000000;
}



/* 검색 페이지? 메뉴 바*/
#search_menu{
	margin-top:100px;
}
#search_table. td{
	border: 12px solid black;
}


#review_table{
 width:90%;
    text-align:left;
    margin-top:100px;
    padding:10px;
	outline:none;
    background-color: white;
	border:5px solid #585858;
	border-radius:5px;
}


table {	
	list-style:none;
	width:1200px;
	height:400px;
	margin:auto;
	text-align:center;
}
.search_type {
	background-color:#424242;
	color:white;
	font:bold 24px san-serif;}

.search_input {
	background-color:white;
	font: bold 16px san-serif;}
.search_submit {
	background-color:#424242;
	color:white;
	font:bold 24px san-serif;}
.search_button {
	background-color:#424242;
	color:white;
	float:center;
	border:none;
	outline: none;
	cursor: pointer;
	font:bold 24px san-serif;
}
.input_text {
	margin: auto;
	border: 0;
	line-height: 21px;
	font-weight: bold;
	font-size: 24px;
	outline: none;
}

.toggle_button {
    cursor:pointer;
    background:#424242;
    color:white;
    border:1px solid #ccc;
}
#toggle_button,
#toggle_contents {
    height:0;
    overflow:hidden;
    position:absolute;
}
#toggle_button:checked + #toggle_contents {
    height:auto;
    position:relative;
    border-top:0;
    padding:10px;
}


.star{
    display:inline-block;
    width: 30px;height: 60px;
    cursor: pointer;
}
.star:hover{
    background-color: moccasin;
}
.star:visited{
    background-color: yellow;
}
.star_left{
    background: url(http://gahyun.wooga.kr/main/img/testImg/star.png) no-repeat 0 0; 
    background-size: 60px; 
    margin-right: -3px;
  }
  .star_right{
    background: url(http://gahyun.wooga.kr/main/img/testImg/star.png) no-repeat -30px 0; 
    background-size: 60px; 
    margin-left: -3px;
  }
  .star.on{
    background-image: url(http://gahyun.wooga.kr/main/img/testImg/star_on.png);
  }
