#side_bar {
    width: 200px;
    height: 900px;
    float: left;
    text-align: center;

}

section {
    float:left;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    font-size: larger;
}

a:link,a:visited,a:hover{
    color:black;
    text-decoration: none;
}

.side {
    list-style: none;
    margin-top:30px;
    font-weight: bold;
}
.side:hover{
    color:#444444;
}