body{
    background-image: url('../image/background.png');
}

section {
    width: 80%;
    text-align: center;
    margin:auto;
}

table{
    width:90%;
    text-align: center;
    margin:auto;
    padding:10px;

    background-color:white;
    border: thick solid #686767;
    border-radius:10px; 
}
input{
    padding : 10px;
    margin:3px;
}

.text_input {
    width:95%;
    height:100px;
    padding:5px;
    vertical-align: text-top;
}
#star_grade a{
    text-decoration: none;
    color: gray;
}
#star_grade a.on{
    color: red;
}
/* https://longbeom.tistory.com/3 */